.grid-container{
  display: grid;
  background-color:aqua;
  gap:10px;
  /*grid-template-columns:repeat(3,1fr);*/
  grid-template-areas: 'header header header' 'aside aside aside' 'footer footer footer';
}

.grid-container div{
  color:white;
  /*height: 200px;*/
 /*  display:flex;
  justify-content: center;
  align-items: center; */
}

.header{
 grid-area:header;
  background-color: white;
  height: 150px;
  display: grid;
  grid-template-columns: 120px 1fr 1fr ;/*defino columna*/
}

.header section{
  gap: 10px;
  display:flex; /*permite que se alinea vertical y horizantalmente*/
  justify-content: center;
  align-items: center; 
  
}
.section-nav{
  background-color: rgba(0,0, 150, 0.7);
  grid-column: 2/span 3;
  justify-content: center;
  align-items: center; 
}

nav{
  width: 100%;
}
.section-nav ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.section-nav li{
  padding: 10px;
}
.section-nav li>a{
  color:white;
  text-decoration: none;
  
}

.section-nav li:active {
  transform: scale(0.9);
}

.section-aside{
  grid-area:aside
}
.footer{
  grid-area:footer;
}

#circulo {
   width: 120px;
      height: 80px;
      background: red;
      position: relative;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
}